<h1>
  use_signal
</h1>

<h3 (click)="updateCount()">
  red color use_signal value is: {{this.count()}}
</h3>
<button [attr.role]="'ssss'" (click)="this.updateCount()" [disabled]="this.count() > 5">disabled when value > 5</button>
<section>computed value is {{this.computedValue()}}</section>
<div>
  <button (click)="updateCountStr()">updateCountStr</button>
</div>
<section>
  use if
  <div>
    if value > 3 show span
    @if (this.count() > 3) {
    <span>when value > 3 ,you can see me</span>
    } @else {
    <span> value < 3 </span>
        }
  </div>

  @for (item of this.arr; track $index) {
  <div>{{item}} -- {{$index}}</div>
  }
</section>
